html {
  font-size: 6vw;
}

html body {
  height: 100vh;
  background: linear-gradient(to bottom, #f5c0c0, #f0e4d7);
}

html body h1 {
  width: 100vw;
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  font-size: 0.5rem;
  color: #b4aee8;
}

html body .btns {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
}

html body .btns button {
  width: 20vh;
  height: 10vh;
  background-color: #440a67;
  font-weight: 700;
  font-size: 0.3rem;
  color: #f7d9d9;
  border: none;
  border-radius: .625rem;
}

html body #porker {
  position: relative;
  background-color: #fff;
}

html body #porker div {
  position: absolute;
  width: 8vw;
  height: 18vh;
  background: linear-gradient(45deg, #ff7171, #9fd8df);
  border-radius: .3125rem;
  opacity: 1;
  transition: all 1s 0.1s linear;
}

html body #porker div img {
  width: 100%;
  height: 100%;
}
